.nav-icons
{
    display: flex;
    align-items: center;

    
    @media (max-width: 574px) {
        display: flex;
        justify-content: start;
       
    }

    .bi-person-circle
    {
        font-size: 1.4em;
    }

    .bi-bag-check-fill
    {
        font-size: 1.4em;
    }
}

/* .collapse{
    @media (max-width: 574px) {
        display: flex;
        flex-direction: column;
        align-items: start;
       
    }
} */