.nav-icons
{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .bi-person-circle
    {
        font-size: 1.4em;
    }

    .bi-bag-check-fill
    {
        font-size: 1.4em;
    }
}